/* main formatting (body, p, etc.) */

body {
	background-color: white;
	font-family: 'Oxygen', sans-serif;
	font-size: 18px;
	color: black;
}
footer {
	background-color: white;
}

h1 {
	color: #A7E31D;
	text-align: center;
	background-color: #155167;
	font-size: 34pt;
	padding: 1.6%;
}

h2 {
	font-family: 'Oxygen', sans-serif;
	font-size: 25px;
	color: #BA84CB;
}

button {
	border: none;
	padding: 0px 0px;
	margin: 2px;
	background:rgba(255, 255, 255, 0);
}

li {
	text-align: justify;
}


footer {
	padding: 100px 180px 10px 180px;
	font-family: 'Oxygen', sans-serif;
	font-size: 14px;
	color: black;
}


/* common formatting */
.alignCenter {
	padding-left: 50%;
}

p.alignCenter {
	padding-left: 0%;
	text-align: center;
}

p.blockIndent {
	padding-left: 4em;
	padding-right: 4em;
	text-align: justify;
}

/* common page elements */

/* main content div */
div#main-content {
	position: absolute;
	left: 10em;
	right: 0;
	top: 0;
	min-height: 100vh;
	padding: 0 45px 0 45px;
	transition-duration: 0.2s;
}

div#main-content.slide-out {
	transform: translateX(-30vw);
}

div#main-content.slide-out:after {
	content: " ";
	position: absolute;
	left:0;
	top:0;
	right:0;
	bottom:0;
	background-color: #6fb4d6;
	opacity: .2;
	z-index:8;
}


div#main-content p {
	position: static;
	text-align: justify;
	padding: 0.25%;
}

div#main-content p.subtitle {
	color: #155167;
	position: static;
	text-align: center;
	font-size: 28pt;
	padding: 1.6%;
}

div#main-content .hangingindent {
  text-align: left;
  padding-left: 90px ;
  text-indent: -90px ;
} 

/* navbar stuff */
div#navbar {
	background-color: #6fb4d6;
	position: fixed;
	top: 0;
	width: 9em;
	left: 0;
	margin: 0px;
	padding: 0.5em;
	bottom: 0;
	box-shadow: 5px 0px 20px grey;
	z-index: 10;
	overflow-y: auto;
	
}

div#navbar img {
	width: 100%;
	height: auto;
}



div#navbar a {
	text-decoration: none;
	color: black;
	font-size: 25px;
}

div#navbar>dl dt,dd {
	padding-left: 4px;
	transition: background-color 0.1s;
	border-radius: 10px;
	margin-bottom: 10px;
}

div#navbar > dl dt:hover,dd:hover {
	background-color: #2f7496;
}

div#navbar>dl dd {
	position: relative;
	left: -18px;
	width: 130px;
}


/*Team bios stuff*/
div.gallery {
	background: #EEE;
	height: 400px;
}

div.gallery-cell {
	width: 66%;
	height: 400px;
	margin-right: 10px;
	background: #BA84CB;
	counter-increment: gallery-cell;
	position: static;
	display: block;
	text-align: center;
	font-size: 32px;
	color: white;
}

div#main-content div.gallery-cell p.team-description {
	position: static;
	text-align: center;
	font-size: 18pt;
	padding: 1.6%;
}

.face {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 200px;
	height: 10%;
	padding: 10px;
	background-color: #6fb4d6;
	border: 2px solid #c67edc;
	border-radius: 5px;
}

.face img {
	width: 200px;
	height: 200px;
}

.face div {
	background-color: #cfcfcf;
	width: inherit;
}

.face span {
	display: none;
	background-color: #fcfcfc;
	width: inherit;
}

div.members {
	position: static;
	text-align: center;
	padding: 1.6%;
}

div.not-pictured {
	text-align: center;
}

div#bio-text > div {
	position:fixed;
	top:0;
	right: 0;
	width: 30vw;
	height:100%;
	transition-duration: 0.2s;
	overflow-y: auto;
	background: #6fb4d6;
	transform: translateX(30vw);
}

div#bio-text > div > img{
	width:100%;
	height:auto;
}

div#bio-text > div > p{
	margin: 1em 3em 1em 3em;
}

div#bio-text > div h2 {
	text-align: center;
}

div#bio-text > div.slide-in {
	transform: translateX(0);
}


/* Homepage Stuff */
.homePageHead img {
	width:100%;
	height:auto;
}


.subheadingHomePg {
	font-size: 25px;
	color: #BA84CB;
	text-align: center;
}

.learnMoreRef {
	position:relative;
	left: -70px;
}

.learnMore {
	color: #A7E31D;
	border: none;
	background-color: inherit;
	padding: 14px 28px;
	font-size: 16px;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	background-color: #155167;
	width: 140px;
}


.learnMore:hover {
	background: #155167;
	opacity: 0.7;
}


